$nav-height: 70px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 10px;
}

body {
    background-color: rgb(250, 250, 250);
    font-family: Cardo, "Times New Roman", serif;
}

h1, h2, h3 {
    font-family: Montserrat, Arial, sans-serif;
}

.photo-container {
    display: block;
    width: 100%;
    height: 100vh;
    background: url("../img/macbook.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.caption {
    position: absolute;
    top: 50vh;
    left: 50vw;
    font-size: 2rem;
}

a:link{

}

main, footer {
    width: 100%;
}

main {
    height: 100%;
}

.baner {
    width: 100%;
}

nav, footer {
    color: white;
    padding: 20px 50px;
}

.nav {
    background-color: ghostwhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    max-width: 200px;
}

.nav-container {
    align-items: center;
    display: flex;
}

.nav ul {
    align-items: center;
}

.menu-item {
    list-style-type: none;
    display: inline-block;
}

.menu-item a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

footer {
    background-color: #111111;
}