$kj-blue: #2196f3;
$kj-visited: #757575;
$kj-grey: #4d4d4d;
$nav-color: #f5f5f5;
$background-color: #FAFAFA;
$max-width: 1140px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 10px;
}

body {
  background-color: $background-color;
  font-family: Cardo, "Times New Roman", serif;
}

h1, h2, h3 {
  font-family: Montserrat, Arial, sans-serif;
}

::selection {
  background-color: #82B1FF;
}

a:link {
  color: $kj-blue;
  text-decoration: none;
}

.low-contrast a:link{
  color: #000;
  opacity: 0.6;
}

.low-contrast a:hover {
  color: #fff;
  transition: color 0.5s;
}

nav, main, footer {
  width: 100%;
}

nav, footer {
  color: white;
  padding: 20px 50px;
}

nav {
  background-color: $nav-color;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-container {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-width;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img, .ft-logo img {
  max-width: 200px;
  padding: 10px;
}

.menu {
  align-items: center;
  display: flex;
}

.nav ul {
  align-items: center;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
}

.menu-item a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.menu-item a:hover {
  color: #fff;
  background-color: $kj-blue;
  transition: background-color 0.5s;
}

.photo-container {
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../img/macbook.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

//.next {
//  position: absolute;
//  bottom: 5vh;
//  left: 50vw;
//  transform: translateX(-50%);
//  z-index: 20;
//  svg {
//    fill: #fff;
//  }
//}

.caption {
  font-size: 2rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: rgba(255,255,255,0.4);
  padding: 30px;
  transform: translateY(-50%);
}

.container {
  font-size: 1.8rem;
  max-width: $max-width;
  margin: 0 auto;
  padding: 100px 0;
  border-bottom: 1px solid $kj-blue;
}

.container p {
  padding-bottom: 25px;
  line-height: 1.7;
}

#bio, #contact {
  background-color: $kj-blue;
  color: #fff;
}

.container.bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //tekst powinien się łamać przy zmniejszaniu ekranu - pomyślec nad rozwiązaniem
}

.bio-portrait {

}

.bio-portrait img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.bio-text {
  padding-left: 60px;
}

//bio ends

//skills

.skills {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $max-width;
}

.skill {
  max-width: 32.33%;
  text-align: center;
  padding: 2%;
}

.skill-description {
  word-wrap: break-word;
}

.skill-description h3 {
  color: #000;
  padding-bottom: 5px;
}

.icon img {
  max-width: 100px;
}


//skills end
//portofolio starts

.projects {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $max-width;
}

.project {
  max-width: 40%;
  text-align: center;
  padding: 2%;
}

.project-description {
  padding-top: 20px;
  word-wrap: break-word;
}

.project-description h3 {
  color: #000;
  padding-bottom: 5px;
}

.project-image img {
  max-width: 400px;
  box-shadow: grey 2px 2px 2px 2px
}

.button {
  padding: 20px;
  font-weight: 700;

  a {
    padding: 20px;
    color: #fff;
    background-color: $kj-blue;
    text-decoration: none;

    &:hover {
      background-color: $kj-visited;
      transition: background-color 0.5s;
    }
  }
}

#portfolio .container {
  border-bottom: none;
}

//portfolio ends

//contact starts
.contact-text {
  padding-top: 20px;
}

.contact-text p a:link{
  color: #000;
  opacity: 0.6;
}

.contact-text p a:hover {
  color: #fff;
  transition: color 0.5s;
}

.social-media {
  text-align: center;
}

//contact ends


footer {
  background-color: $kj-grey;
}

.ft-container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.social-media svg {
  fill: #fff;

  &:hover {
    fill: $kj-visited;
    transition: fill 0.5s;
  }
}

.go-up {

}